<div class="h-screen flex">
    <div class="mx-auto w-96 my-12 bg-white shadow-lg">
        <div *ngIf="loading()" class="h-full flex justify-center items-center">
            <mat-spinner></mat-spinner>
        </div>
        <mat-vertical-stepper *ngIf="!loading()" [linear]="false" #stepper [selectedIndex]="stepsCompleted()">
            <mat-step [editable]="false" [completed]="stepsCompleted() >= 1">
                <ng-template matStepLabel>Provide base data</ng-template>
                <form>
                    <mat-form-field class="flex-1">
                        <mat-label>Social Security Number</mat-label>
                        <input matInput placeholder="ex. 12345678">
                    </mat-form-field>
                    <div class="mb-4">
                        <mat-checkbox>Are you married?</mat-checkbox>
                    </div>
                    <mat-form-field class="flex-1">
                        <mat-label>What is your address?</mat-label>
                        <input matInput placeholder="ex. Rohan street 1">
                    </mat-form-field>
                    <mat-form-field class="flex-1">
                        <mat-label>How old are you?</mat-label>
                        <input matInput placeholder="ex. 27" type="number">
                    </mat-form-field>
                    <mat-form-field class="flex-1">
                        <mat-label>What is your birth city?</mat-label>
                        <input matInput placeholder="ex. Warsaw">
                    </mat-form-field>
                    <mat-form-field class="flex-1">
                        <mat-label>What is your nationality?</mat-label>
                        <input matInput placeholder="ex. Rohan citizen">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Favourite club?</mat-label>
                        <mat-select>
                            <mat-option value="c1">Arka Gdynia</mat-option>
                            <mat-option value="c2">Radomiak Radom</mat-option>
                            <mat-option value="c3">Legia</mat-option>
                            <mat-option value="c4">Barcelona</mat-option>
                            <mat-option value="c5">Real Madryt</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Favourite language?</mat-label>
                        <mat-select>
                            <mat-option value="c1">C#</mat-option>
                            <mat-option value="c2">JS</mat-option>
                            <mat-option value="c3">TS</mat-option>
                            <mat-option value="c4">Java</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-form-field">
                        <mat-label>Grunwald battle date?</mat-label>
                        <input matInput [matDatepicker]="datepicker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                          <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                          </mat-datepicker-actions>
                        </mat-datepicker>
                      </mat-form-field>
                    <div>
                        <button mat-flat-button color="primary" (click)="goNext()">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [editable]="false" [completed]="stepsCompleted() >= 2">
                <ng-template matStepLabel>Additional data</ng-template>
                <form>
                    <mat-form-field class="flex-1">
                        <mat-label>Children count</mat-label>
                        <input matInput placeholder="ex. 2">
                    </mat-form-field>
                    <mat-form-field class="flex-1">
                        <mat-label>Cars count</mat-label>
                        <input matInput placeholder="ex. 1">
                    </mat-form-field>
                </form>
                <div>
                    <button mat-flat-button color="primary" matStepperNext (click)="goNext()">Next</button>
                </div>
            </mat-step>
            <mat-step [editable]="false" [completed]="stepsCompleted() >= 3">
                <ng-template matStepLabel>Consents</ng-template>
                <div *ngIf="!consentError()" class="mb-2" >
                    <button mat-flat-button color="primary" [disabled]="consented()" (click)="submitConsent()">Approve Psd2 Consent</button>
                </div>
                <div *ngIf="consentError()">
                    <div class="text-lg text-gray-600 text-center"><i class="ri-error-warning-line block text-6xl my-8"></i> There was an error with proceeding your consent. You can still continue.</div>
                </div>
                <button mat-flat-button color="primary" (click)="goNext()">Next</button>
            </mat-step>
            <mat-step [editable]="false">
                <ng-template matStepLabel>Finalize</ng-template>
                <div class="text-lg text-gray-600 text-center"><i class="ri-verified-badge-line block text-6xl my-8"></i> Thank you for filling your data. We will contact you soon.</div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>
 n 