<div class="p-8" data-cy="ApplicationForm">
    <form [formGroup]="form" (ngSubmit)="submit()" class="w-full max-w-xl mx-auto">
        <h1 class="text-xl mb-2">Create New Application</h1>
        <mat-form-field class="w-full">
            <mat-label>Reference No</mat-label>
            <input formControlName="referenceNo" matInput placeholder="ex. 000-0001" data-cy="ReferenceNo">
        </mat-form-field>
        <div class="flex gap-4">
            <mat-form-field class="flex-1">
                <mat-label>Applicant Name</mat-label>
                <input formControlName="applicantName" matInput placeholder="ex. John" data-cy="ApplicantName">
            </mat-form-field>
            <mat-form-field class="flex-1">
                <mat-label>Applicant Surname</mat-label>
                <input formControlName="applicantSurname" matInput placeholder="ex. Doe" data-cy="ApplicantSurname">
            </mat-form-field>
        </div>
        <div class="flex gap-4">
            <mat-form-field class="flex-1">
                <mat-label>Applicant Phone</mat-label>
                <input formControlName="applicantPhone" matInput placeholder="ex. 678-123-456" data-cy="ApplicantPhone">
            </mat-form-field>
            <mat-form-field class="flex-1">
                <mat-label>Applicant Email</mat-label>
                <input formControlName="applicantEmail" matInput placeholder="ex. applicant@example.com" data-cy="ApplicantEmail">
            </mat-form-field>
        </div>
        <mat-form-field class="w-full">
            <mat-label>Loan Amount</mat-label>
            <input formControlName="loanAmount" matInput placeholder="ex. 1.000.000" type="number" data-cy="LoanAmount">
            <div matSuffix class="w-12 text-center">§</div>
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Monthly Payment Amount</mat-label>
            <input formControlName="monthlyPaymentAmount" matInput placeholder="ex. 1.000.000" type="number" data-cy="MonthlyPaymentAmount">
            <div matSuffix class="w-12 text-center">§</div>
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Initial Payment</mat-label>
            <input formControlName="initialPayment" matInput placeholder="ex. 1.000.000" type="number" data-cy="InitialPayment">
            <div matSuffix class="w-12 text-center">§</div>
        </mat-form-field>
        <div>
            <mat-label>Type</mat-label>
            <mat-radio-group formControlName="type" class="flex flex-col">
                <mat-radio-button value="Leasing" data-cy="RentCheckbox">Rent</mat-radio-button>
                <mat-radio-button value="Rent" data-cy="LeasingCheckBox">Leasing</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="flex justify-end">
            <button
                type="submit"
                mat-flat-button
                color="primary"
                [disabled]="form.disabled"
                data-cy="SubmitButton"
            >
                <i class="ri-file-add-line"></i> Submit
            </button>
        </div>
        
    </form>
</div>
